<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List Product</title>
</head>
<body>
	<h1>Products</h1>
	<table cellpadding="10" border=1>
			<tr>
				<th>Code</th>
				<th>Description</th>
				<th>Price</th>
				<th>Action</th>
			</tr>
			<tr th:each="product : ${products}">
				<td th:text="${product.code}"></td>
				<td th:text="${product.description}"></td>
				<td th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></td>
				<td>
					<a th:href="@{/products/edit-product/{id}(id=${product.id})}">Edit</a>
					<a th:href="@{/products/delete-product/{id}(id=${product.id})}">Delete</a>
				</td>
			</tr>
	</table>
	<br>
	<a th:href="@{/products/add-product}">Add Product</a>
</body>
</html>